<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><title>뉴스</title></head>
<body>
<form method="POST" action="/news">
    <label>제목: <input name="title" placeholder="제목"/></label>
    <label>주소: <input name="address" placeholder="주소" /></label>
    <button type="submit">추가</button>
</form>
<ul>
    <li th:each="news, newsState : ${newsList}">
        <button class="btn-delete" th:data-id="${newsState.index}">삭제</button>
        <button class="btn-update" th:data-id="${newsState.index}">수정</button>
        <a th:href="${news.address}" th:text="${news.title}" target="_blank"></a>
    </li>
</ul>
</body>
<script>
    function deleteStudent(id) {
        if (confirm("정말 삭제하시겠습니까?")) {
            fetch(`/news/${id}`, { method: "DELETE" }).then(function (response) {
                if (response.ok) {
                    response.json().then((result) => {
                        if (result) {
                            alert("삭제되었습니다.");
                            return location.reload();
                        }
                        alert('항목이 존재하지 않습니다.');
                    })
                } else {
                    alert("삭제에 실패했습니다.");
                }
            });
        }
    }//querySelector 관련 함수는 무엇을 찾을 때 쓰는 함수
    document.querySelectorAll(".btn-delete").forEach(function (btn) { //querySelector은 값 하나를 리턴, querySelectorAll은 값 여러개를 배열로 리턴.
        btn.addEventListener("click", function (event) {
            deleteStudent(event.target.getAttribute("data-id"));
        });
    });

    document.querySelectorAll(".btn-update").forEach(function (btn) {
        btn.addEventListener("click", function (event) {
            fetch(`/news/${event.target.getAttribute("data-id")}`, {
                method: "PUT",
                body: JSON.stringify({
                    title: prompt("제목을 입력하세요."),
                    address: prompt("주소를 입력하세요.")
                }),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(function (response) {
                if (response.ok) {
                    response.json().then((result) => {
                        if (result) {
                            alert("수정되었습니다.");
                            location.reload();
                            return;
                        }

                        alert('항목이 존재하지 않습니다.');
                    })
                } else {
                    alert("수정에 실패했습니다.");
                }
            });
        });
    });


</script>
</html>